<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="ConnectionString_" connectionString="Data Source=174.141.231.186;Initial Catalog=gmtc;User ID=gmtcmdr;Password=Gmtc@2022!@#" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>

	  <machineKey
validationKey="DBFF283B64C31B3330164222C252705A7D79EBE35C768A2891F75A663A3580B391401D8CEB331E5F6C2835CB06B23D5A23D4B79CCD13F4EF859E411E11802F6F"
decryptionKey="1812F81150DF6C862040B83493EBA3C3ED2CE401ECAFA7B32370FE723BC340A7"
validation="SHA1" decryption="AES"
/>
	  
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="100000" maxRequestLength="2097151"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1"  >
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>
</configuration>